/* Import Google Font cdn link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    --primary-color:#99a98f;
    --decent-color: #d6e8db;
    --accent-color: #fff;
    --secondary-color: rgb(9, 189, 9);
    --font-family:'Poppins', sans-serif;
    --text-color: grey;
}
* {
    margin-left: 0px;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
 }
 body {
    background: #fff;
    padding:0 2%;
 }
 .logo {
   font-size: 2rem;
   font-weight: bolder;
   color:rgb(9, 189, 9);
}
.logo i {
   color:black;
   margin-right: .5rem;
}

 .header {
    padding: 1rem 0;
 }
 .header--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }
 .burger--icon i {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
 }
 .search--box {
    background: var(--decent-color);
    border-radius: 10px;
    flex: 1;
    align-items: center;
    padding: 0 1rem;
 }
 .search--box i {
    color: var(--primary-color);
 }
 .search--box input {
    background: transparent;
    padding: 10px;
    width: 80%;
 }
 .menu--icons {
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .menu--icons i {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--decent-color);
 }
 .fa-cart-shopping {
    background: transparent !important;
    border: 1px solid var(--primary-color);
    color: black;
 }
 .cart-icon {
    position: relative;
 }
 .cart-icon span {
    background: var(--secondary-color);
    color: var(--accent-color);
    border-radius: 50%;
    width: 20px;
    height: 18px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
 }
 /* cover section*/
 .cover {
    background-image: url('./image/banner-bg.webp');
    background-size: cover;
    height: 25vh;
    background-position: center;
    border-radius: 10px;
    margin-top: 10px;
 }
 .cover--overlay {
    /*background: rgba(0, 0, 0,0.6);*/
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
 }
 .cover:hover {
   outline: var(--outline-hover);
   outline-offset: 0rem;
}
 /*section heading*/
 .section-heading {
    font-size: 18px;
    text-transform: uppercase;
    margin: 1 rem 0 10px 0;
    color: black;
 }
 /*menu list*/
 .menu--list {
    display: flex;
    gap:70px;
    flex-wrap: wrap;
 }
 .menu--item {
   /*width:114px;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    border:2px solid var(--decent-color);
    padding:10px 13px;
    border-radius: 10px;
    color: black;
 }
 .menu--item img {
    width: 100%;
 }
 .card--list {
   display: flex;
   gap: 60px;
   flex-wrap: wrap;
   margin-bottom: 2rem;

}

.card {
   width: 300px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 10px;
   padding: 10px 1rem;
   border-radius: 10px;
   background: var(--accent-color);
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, .1);
   text-align: center;
   color: black;
   transition: box-shadow 0.3s ease;
}

.card:hover {
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3); 
}

.card img {
   width: 100%;
}

.card--price {
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: space-between;
}
.card--price .price{
   color: black;
   font-weight: 600;
}
.add-to-cart {
   background: var(--primary-color);
   color: black;
   border-radius: 50%;
   padding: 5px;
   cursor: pointer;
}
.add-to-cart:hover {
   color: var(--accent-color);
   box-shadow: rgb(0 0 0 / 30%) 0px 0px 4px 4px, rgb(231, 236, 236) 0px 0px 0px 3px;
}

/*cart menu sidebar*/

.sidebar {
   width: 300px;
   height: 100%;
   position: fixed;
   top: 0;
   /*right: 0;*/
   right: -300px;
   background-color: var(--accent-color);
   box-shadow: -4px 0 6px rgb(0, 0, 0, 0.1);
   transition: right 0.3s ease-in-out;
   z-index: 1000;
   padding: 20px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}

.sidebar.open {
   right: 0;
}
.sidebar-close {
   position: absolute;
   right: 20px;
   top: 10px;
   cursor: pointer;
}

.cart-item {
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 1rem;
}
.individual-cart-item{
   display: flex;
   justify-content: space-between;
   padding: 10px 5px;
   border-radius: 5px;
   color: var(--text-color);
   border: 1px solid var(--decent-color);
   margin-bottom: 5px;
}
.cart-item-price {
   color: var(--primary-color);
}

.sidebar--footer {
   position: absolute;
   bottom: 10px;
   width: 88%;
}

.total--amount {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 2px solid var(--decent-color);
   border-radius: 5px;
   padding: 5px 2px;
}
.cart-total {
   font-size: 16px;
   color: var(--primary-color);
   font-weight: 500;
}
.checkout-btn {
   width: 100%;
   margin-top: 2rem;
   background: var(--secondary-color);
   color: var(--accent-color);
   border-radius: 5px;
   cursor: pointer;
   padding: 10px;
}
.remove-btn {
   background: var(--primary-color);
   color: var(--accent-color);
   border-radius: 2px;
   padding: 1px 5px;
   cursor: pointer;
   margin-left: 5px;

}
